@tailwind base;
@tailwind components;
@tailwind utilities;
.mis-navbar {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0px 8px 0px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}
.LinkTextColorHover {
  color: #1f2937;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.LinkTextColorHover:hover {
  color: #009f7f;
}
.LeftDrawerColorHover {
  border-radius: 9999px;
  outline-width: 0px;
  color: #000102;
  background-color: rgb(229 231 235);
}

.LeftDrawerColorHover:hover {
  color: #ffffff;
  background-color: #009f7f;
}

.navlinks {
  color: #1f2937;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.navlinks.selected {
  color: #009f7f;
}

.navlinks:hover > span {
  color: #009f7f;
}

.navlinks:hover svg {
  fill: #009f7f;
}

.navlinks.selected svg {
  fill: #009f7f;
}

.dropdownContainer {
  padding: 10px 0px;
  z-index: 9999 !important;
  height: auto;
}
button.HideTopLeftDrawerMenu {
  display: none;
}

@media only screen and (max-width: 1280px) and (min-width: 1023px) {
  button.HideTopLeftDrawerMenu {
    display: flex;
  }
}

@media only screen and (max-width: 1023px) {
  button.HideTopLeftDrawerMenu {
    display: none;
  }
}
.input-group-box-hero-home {
  display: flex;
  align-items: center;
}

.input-search-hero-home {
  min-height: 56px;
  width: 100%;
  padding: 0 1rem;
  color: #fff;
  border: 1px solid white;
  border-radius: 6px 0 0 6px;
  font-size: 15px;
  background-color: white;
}

.button-submit-hero-home {
  min-height: 50px;
  min-width: 143px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #009f7f;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button-submit-hero-home:hover {
  background-color: #009f7f;
}

.input-search-hero-home:focus {
  border: 1px solid #009f7f;
  border-radius: 6px 0 0 6px;
}

.input-search-hero-home:focus,
.input-search-hero-home:focus-visible {
  border-color: #009f7f;
  outline: none;
}

/***********************AutoModalContainer******************************/
.AutoModalBox {
  border: none;
  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 892px;
  box-shadow: 24px;
}
.HeadingTypoAutoModal {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  color: #000;
  font-size: 38px;
  line-height: 1.1em;
  text-align: center;
  max-width: 950px;
}

.DescriptionTextAutoModal {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  font-weight: 400;
  color: #595959;
  text-align: center;
  margin: 0 0 52px 0;
}
.email-send-icon-automodal {
  transition: color 0.3s;
  color: #808080;
}

.email-send-icon-automodal:hover {
  color: #009f7f;
}

/************************************Mobile Login Customer Modal *********************/
.input-group-mobile-modal {
  display: flex;
  align-items: center;
}

.input-number-mobile-modal {
  min-height: 50px;
  width: 100%;
  padding: 0 1rem;
  color: #fff;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 6px 0 0 6px;
  font-size: 15px;
  background-color: white;
}

.button-submit-mobile-modal {
  min-height: 50px;
  min-width: 143px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #009f7f;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button-submit-mobile-modal:hover {
  background-color: #009f7f;
}

.input-number-mobile-modal:focus {
  border: 1px solid #009f7f;
  border-radius: 6px 0 0 6px;
}

.input-number-mobile-modal:focus,
.input-number-mobile-modal:focus-visible {
  border-color: #009f7f;
  outline: none;
}
.InputLabelAuthPage {
  margin-bottom: 0.75rem;
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  line-height: 1;
}
.InputLabelAuthPage:focus {
  border: 1px solid #009f7f;
  border-radius: 6px 0 0 6px;
}

.InputLabelAuthPage:focus,
.InputLabelAuthPage:focus-visible {
  border-color: #009f7f;
  outline: none;
}

/****************Offers Page ********************************/
.home-icon-offers-hero-section {
  transition: color 0.3s;
  color: #808080;
}

.home-icon-offers-hero-section:hover {
  color: #009f7f;
}

/*******************Home Footer*********************************/

.footerLogo {
  height: auto;
  max-width: 100%;
}

.footerHeadingText {
  font-size: 30px;
  color: #009f7f;
}
