@tailwind base;
@tailwind components;
@tailwind utilities;
.mis-navbar {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0px 8px 0px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}
.LinkTextColorHover {
  color: #1f2937;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.LinkTextColorHover:hover {
  color: #009f7f;
}
.LeftDrawerColorHover {
  border-radius: 9999px;
  outline-width: 0px;
  color: #000102;
  background-color: rgb(229 231 235);
}

.LeftDrawerColorHover:hover {
  color: #ffffff;
  background-color: #009f7f;
}

.navlinks {
  color: #1f2937;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.navlinks.selected {
  color: #009f7f;
}

.navlinks:hover > span {
  color: #009f7f;
}

.navlinks:hover svg {
  fill: #009f7f;
}

.navlinks.selected svg {
  fill: #009f7f;
}

.dropdownContainer {
  padding: 10px 20px;
  z-index: 9999 !important;
  height: auto;
}
button.HideTopLeftDrawerMenu {
  display: none;
}

@media only screen and (max-width: 1280px) and (min-width: 1023px) {
  button.HideTopLeftDrawerMenu {
    display: flex;
  }
}

@media only screen and (max-width: 1023px) {
  button.HideTopLeftDrawerMenu {
    display: none;
  }
}
