@tailwind base;
@tailwind components;
@tailwind utilities;
.mis-navbar {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0px 8px 0px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}
.navlinks {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.navlinks.selected {
  color: #009f7f;
}

.navlinks:hover {
  color: #009f7f;
}

.dropnavlinks {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}
.dropdownContainer {
  background-color: #ffffff;
  padding: 10px 20px;
  z-index: 9999 !important;
  position: absolute;
  height: auto;
  top: 100px;
}
